<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="konfioStyles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid pl-0 pr-0">
        <nav class="navbar purple navbar-light ml-0">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" width="30" height="30" src="https://s3-us-west-2.amazonaws.com/konfio-blog/wp-content/uploads/2018/01/03092922/konfio_Logo-300x232.png" alt="Card image cap">

            </a>
        </nav>
        <div class="row mr-0 mt-5 border-bottom justify-content-center">
            <div class="col-md-6 text-center">
                    <h3 class="text-center">GANANCIAS</h3>
                    <h1 class="text-purple"><%= @bills[0].total  %></h1>
            </div>
            <div class="col-md-6 border-left text-center">
                    KONFIO
            </div>

        </div>
        <div class="row mr-0 mt-3 justify-content-center justify-content-md-right">
                    <div class="dropdown text-center">
                        <h6 class="m-0 pb-2">MI FACTURACIÓN</h6>
                        <button class="btn btn-purple dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" name="enero" href="#">Último año</a>
                            <a class="dropdown-item" href="febrero">2018</a>
                            <a class="dropdown-item" href="#">2017</a>
                        </div>
                    </div>
            </div>
    
        <div class="row mr-0 justify-content-center">
            <a href="ventas.html">
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body purple">
                        <h3 class="card-title text-center">VENTAS</h3>
                        <h4 class="card-text text-center">$2,000,000</h4>
                    </div>   
                </div>
            </a>
            <a href="compras.html">
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body green ">
                        <h3 class="card-title text-center">GASTOS</h3>
                        <h4 class="card-text text-center">$2,000,000</h4>
                    </div>   
                </div>
            </a>
        </div>
        <div class="row justify-content-center">
            <img class="content-fluid" src="http://blog.transparency.org/wp-content/uploads/2013/08/HondurasGraphES-1.gif" alt="">
        </div>
    </div>
</body>
</html>