body{
    background-color: #E9EBED !important;
    cursor: pointer !important;
    font-family: 'Montserrat', sans-serif;

}
a{
    text-decoration: none !important;
}
.purple{
    background-color: #8A79F7 ;
    color: white;
}
.green{
    background-color: #00DCB8;
    color: white;
}
.card{
    background-color: #E9EBED !important;
    border: none !important;
}
.card-body{
    border-radius: 10px;
}
.btn{
    border-radius: 9999px !important;
    font-size: .875rem !important;
    font-weight: 600 !important;
    padding: 10px 1rem !important;
    text-align: center !important;
}
.btn-purple{
    background-color: #8a79f7 !important;
    color: white!important;
}
.btn-green{
    background-color: #00DCB8 !important;
    color: white!important;
}
.btn-green:hover{
    background-color: #04B49A !important;
    color: white!important;
}
.btn-purple:hover{
    background-color: #5c5a92 !important;
}
.text-purple{
    color: #8A79F7;
}
.text-green{
    color: #04B49A;
}

.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
